<div class="siteHeader">
  {{#link-to 'index'}}<h2 id="logo">pARTicipate</h2>{{/link-to}}
  <button id="menu-btn" {{action 'menuPressed'}}>
    <div class="navIcon">
      <div class="iconbar"></div>
      <div class="iconbar"></div>
      <div class="iconbar"></div>
    </div>
  </button>
</div>
<nav class="mainNav-closed">
  <p class="closing-X" {{action 'closeMenu'}}>X</p>
  <div class="nav-list">
    <h2>Upcoming Projects</h2>
    <h2>Finished Projects</h2>
    <h2>{{#link-to 'about'}}About{{/link-to}}</h2>
  </div>
</nav>
