<div class="siteHeader">
  <h2 id="logo">pARTicipate</h2>
  <button id="menu-closed" {{action 'menuPressed'}}>
    <div class="navIcon">
      <div class="iconbar"></div>
      <div class="iconbar"></div>
      <div class="iconbar"></div>
    </div>
  </button>
</div>
<nav class="mainNav-closed">
  <p class="closing-X" {{action 'closeMenu'}}>X</p>
  <div class="nav-list">
    <h2>Upcoming Projects</h2>
    <h2>Finished Projects</h2>
    <h2>About</h2>
    <h2>Contact</h2>
  </div>
</nav>
