// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.secondaryBtn {
  border: 1px solid black;
  background-color: $primaryLight;
  @extend %headerFont;
  @include text(1.2em);
  display: block;
  margin: 0 auto;
}

.viewAll {
  @extend %headerFont;
  @extend %uppercase;
  border: 3px solid $pink;
  @extend %centeredText;
  padding: 5px 0px;
  width: 60%;
  margin: 0 auto;
}
