// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.secondaryBtn {
  border: 1px solid black;
  background-color: $primaryLight;
  @extend %headerFont;
  @include text(1.2em);
  display: block;
  margin: 0 auto;
}

.viewAll {
  @extend %headerFont;
  @extend %uppercase;
  border: 3px solid $teal;
  @extend %centeredText;
  padding: 5px 0px;
  width: 40%;
  margin: 0 auto;
  transition: all 200ms linear;
  &:hover {
    transition: all 200ms linear;
    background-color: $teal;
    color: $primaryLight;
  }
}

.viewAllPink {
  @extend %headerFont;
  @extend %uppercase;
  border: 3px solid $pink;
  @extend %centeredText;
  padding: 5px 0px;
  width: 40%;
  margin: 0 auto;
  transition: all 200ms linear;
  &:hover {
    transition: all 200ms linear;
    background-color: $pink;
    color: $primaryLight;
  }
}

.down-arrow-icon {
  @include size(46px);
  margin-bottom: 25px;
}

.defaultBtn {
  border: 1px solid $primaryDark;
  background-color: white;
  @extend %bodyFont;
  padding: 3px 5px;
}

.uncompletedBtn {
  border: 1px solid $primaryDark;
  background-color: white;
}

.completedBtn {
  border: 1px solid green;
  background-color: white;
}
