.contact-form {
  h1 {
    text-align: center;
  }
  .form-group {
    margin: 18px 0;
  }
  label {
    font-style: italic;
    text-align: center;
    align-self: center;
    margin: 0 auto;
  }
  input, {
    width: 40vw;
    height: 24px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.30);

  }
  textarea {
    align-self: center;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.50);
    width: 60vw;
  }
  .description {
    text-align: center;
    align-self: center;
  }
  button {
    margin-left: 40%;
    border:2px solid $teal;
    background-color: white;
    margin-bottom: 12px;
  }
}

.newProjectForm {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-group {
    margin: 18px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label {
    text-align: center;
    font-style: italic;
    margin-bottom: 8px;
    max-width: 70vw;

  }
  input {
    width: 65vw;
    height: 24px;
    margin-bottom: 10px;

  }
  textarea {
    width: 70vw;

  }
  button {
    display: block;
    margin: 5px auto;
  }
  .save {
    border: 1px solid $teal;
    background-color: white;
    padding: 4px 20px;
  }

}
