// This file contains container styles, and any page wrapper styles.


.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.page-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
}

.shifted.page-content {
  transform: translateX(70%);
  -webkit-transform: translateX(70%);
  overflow: hidden;
  pointer-events: none;
}
