// This file contains container styles, and any page wrapper styles.


.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.newsletter-container {
  background-image: linear-gradient(to bottom, rgba($teal,0.76),rgba($teal,0.76)) , url("/img/girl-brick-art.png");
  background-size: cover;
  height: 50vh;
  padding-top: 100px;
  margin-top: 20px;
  h2 {
    @extend %centeredText;
    color: $primaryLight;
    @include text($letter-spacing: 1px);
    text-shadow: 1px 1px 1px $primaryDark;
    padding-bottom: 25px;
  }
  form {
    @include flex($direction: column);
    input {
      width: 80%;
      margin: 0 auto;
      background-color: rgba(255,255,255,0.6);
      border: none;
      height: 40px;
      font-size: 18px;
      padding-left: 10px;
      @extend %bodyFont;
      @extend %centeredText;
      &:focus {
        outline: none;
      }
    }
    button {
      border: 1px solid white;
      padding: 1.5%;
      width: 35%;
      display: block;
      margin: 15px auto 0 auto;
      @extend %headerFont;
      @extend %uppercase;
      background-color: white;
      border-radius: 5px;
      font-size: 18px;
      color: $teal;
    }
  }
}

#homepage-content {
  padding-top: 25px;
}

.contactHeader {
  background-image: url("/img/contact-background.png");
  background-size: cover;
  height: 80vh;
  padding-top: 100px;
  h1 {
    color: $primaryLight;
    @include text(4em, $weight: lighter, $letter-spacing: 2px);
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 0px 2px 4px rgba(74,73,74,0.62);
    text-align: center;
    margin-top: 100px;
  }
  img {
  margin-left: 188px;

  }
}

.contact-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.contact-content {
  h3 {
    align-self: center;
    text-align: center;
    width: 50vw;
    margin-left: 10vw;
  }
  hr {
    width: 70vw;
    border: 1px solid $teal;
    margin-bottom: 35px;
  }
  h4 {
    text-align: center;
  }
}

.mapItem {
  .mapborderbox1 {
    border: 1px solid $pink;
    width: 292px;
    height: 282px;
  }

  .mapborderbox2 {
    border: 1px solid $pink;
    width: 292px;
    height: 282px;
    position: relative;
    top: 10px;
    left: 10px;
  }
  img {
    height: 100%;
    padding: 20px 10px 10px 20px;
    position: relative;
    top: -10px;
    left: -10px;
  }
}
.contact-links {
  .address {
    text-align: center;
    margin: 30px 0;
  }
  hr {
    width: 70vw;
    border: 1px solid $yellow;
    margin-bottom: 35px;
  }
  p {
    text-align: center;
  }
  .borderbox {
    display: flex;
    justify-content: center;
    width: 203px;
    height: 50px;
    border: 1px solid $teal;
    margin-left: 10vw;
    margin-bottom: 35px;
    p {
      align-self: center;
      font-family: DroidSans-Bold;
      font-size: 26px;
      letter-spacing: 0.54px;
    }
  }
  .contact-link {
    display: flex;
    justify-content: center;
    border: 2px solid $pink;
    // width: 60vw;

  }
}

.aboutHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;;
  background-image: url("/img/tree-yarn.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  padding-top: 100px;
  .header-text {
    h1 {
      color: $primaryLight;
      @include text(4em, $weight: lighter, $letter-spacing: 2px);
      font-family: 'Fjalla One', sans-serif;
      text-shadow: 0px 2px 4px rgba(74,73,74,0.62);
      text-align: center;
      margin-top: 180px;
    }
  }
  .down-arrow-icon {
    margin-left: 46vw;
  }
}
.whoWeAre {
  width: 88%;
  margin-left: 6vw;
  h3 {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 5px;
  }
  hr {
    width: 70vw;
    border: 1px solid $teal;
    margin-bottom: 30px;
  }
  .whoborderbox1 {
      border: 1px solid $teal;
  }
  .whoborderbox2 {
    border: 1px solid $teal;
    position: relative;
    top: 10px;
    left: 10px;
  }
  .pink {
    width: 70vw;
    border: 1px solid $pink;
    margin-bottom: 30px;

  }
  .missionborderbox1 {
    border: 1px solid $pink;
    margin-left: 2vw;
    margin-bottom: 40px;
    width: 350px;
  }
  .missionborderbox2 {
    border: 1px solid $pink;
    position: relative;
    top: 10px;
    left: 10px;
  }
  .missionstatment p {
    text-align: center;
    letter-spacing: 1.21px;
    padding: 10px;
    line-height: 24px;
    padding: 20px;
  }
}
.aboutContent {
  margin: 0 40px;
  p {
    text-align: center;
    letter-spacing: 1.21px;
    padding: 10px;
    line-height: 24px;
  }
}

// Project Detail Content

#portfolio-detail-content {
  padding-top: 25px;
  h3, p {
    @extend %centeredText;
  }
  .goal {
    margin-bottom: 60px;
    hr {
      border: 1px solid $teal;
      margin-bottom: 20px;
    }
    .goal-content {
      @include flex($direction: column, $justify: center);
      padding: 10px 20px;
    }
    .box1 {
      height: 230px;
      border: 1px solid $teal;
    }
    .box2 {
      height: 230px;
      border: 1px solid $pink;
    }
  }
  .helpers {
    border: 1px solid $pink;
    padding: 15px;
    margin-bottom: 50px;
    hr {
      border: 1px solid $teal;
      margin-bottom: 0px;
    }
    .vertical-line {
      width: 1px;
      height: 100px;
      margin-top: 0px;
    }
    .helper-content {
      @include flex();
      width: 70%;
      margin: 0 auto;
      p {
        font-size: 18px;
      }
    }
  }
  .time-location {
    margin-top: 50px;
    width: 95%;
    margin: 0 auto;
    hr {
      border: 1px solid $yellow;
    }
    p {
      @extend %headerFont;
    }
    .time-content {
      line-height: 20px;
    }
    .map-container {
      margin-bottom: 30px;
    }
    .map {
      background-image: url("/img/map.png");
      background-repeat: no-repeat;
      @include size(250px);
      margin: 15px auto 0 auto;
    }
    .box1 {
      border: 1px solid $teal;
      height: 280px;
    }
    .box2 {
      border: 1px solid $teal;
      height: 280px;
    }
  }
  .host {
    margin-top: 50px;
    hr {
      border: 1px solid $teal;
      margin-bottom: 20px;
    }
    p {
      @extend %headerFont;
      @extend %centeredText;
    }
    img {
      @include size(100px);
      border-radius: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .completedBtn {
    border: 2px solid $teal;
    background-color: $teal;
    color: $primaryLight;
    width: 90%;
    padding: 15px;
    @extend %centeredText;
    @extend %headerFont;
    font-size: 16px;
    display: block;
    margin: 0 auto;
  }
  .uncompletedBtn {
    border: 2px solid $teal;
    background-color: $primaryLight;
    color: $primaryDark;
    width: 90%;
    padding: 15px;
    @extend %centeredText;
    @extend %headerFont;
    font-size: 16px;
    display: block;
    margin: 0 auto;
  }
  .defaultBtn {
    display: block;
    margin: 0 auto;
  }
}




















//
