// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  margin: 5% auto;
  hr {
    width: 600px;
  }
  color: white;
  text-align: center;
  letter-spacing: 1px;
}
