// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  margin: 10% auto;
  @extend %centeredText;
  p {
    margin-bottom: 5px;
  }
  .subtext {
    @include text(8px);
    width: 90%;
    margin: 0 auto;
  }
}

.social-icons {
  margin: 0 auto 8% auto;
  @include flex($justify: space-between);
  width: 65%;
  img {
    @include size(38px);
  }
}
