// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$yellow: #FDCD2F;
$teal: #21CAB3;
$mint: #BAE2CD;
$pink: #F4197C;
$primaryDark: #0A1617;
$primaryLight: #F7F7F7;
