<div class="aboutHeader">
  <div class="header-text">
    <h1>AbouT</h1>
  </div>
  {{#scroll-to href='#about-content'}}
    <img class="down-arrow-icon" src="/img/down-chevron.png" alt="down arrow icon" />
  {{/scroll-to}}
</div>
<div class="whoWeAre">
  <h3>WHO WE ARE</h3>
  <hr>
  <div class="whoborderbox1">
    <div class="whoborderbox2">
      <div class="aboutContent">
        <p>The pARTicipate website was created to explore the wonderful world of public art in the Portland area. Allow for artists to share ideas with other artist, collaborate on Public Works, and generate interest and access into the Portland art world. From beginner to career artis, pARTicipate, gets people up and involved in the community they live work and play in. Stop reading this and go pARTicipate.</p>
      </div>
    </div>
  </div>
  <h3>MISSION</h3>
  <hr class="pink">
  <div class="missionborderbox1">
    <div class="missionborderbox2">
      <div class="missionstatment">
        <p>
          Helping people help people by lending a helping hand to help out with community helping projects, that need lots of help.
        </p>
      </div>
    </div>

  </div>

</div>
<div class="newsletter-container">
  <h2>Sign up for our newsletter</h2>
  <form>
    <input type="text">
    <button type="submit">Sign Up</button>
  </form>
</div>
