<div class="aboutHeader">
  <div class="header-text">
    <h1>AbouT</h1>
  </div>
  {{#scroll-to href='#about-content'}}
    <img class="down-arrow-icon" src="/img/down-chevron.png" alt="down arrow icon" />
  {{/scroll-to}}
</div>
<div class="aboutContent">
  <p>The pARTicipate website was created to explore the wonderful world of public art in the Portland area. Allow for artists to share ideas with other artist, coloborate on Public Works, and generate interest and access into the Portland art world. From beginner to career artis, pARTicipate, gets people up and involved in the community they live work and play in. Stop reading this and go pARTicipate.</p>
</div>
