<div class="container page-content">
  <div class="siteHeader">
    <h2 id="logo">pARTicipate</h2>
    <div class="navIcon">
      <div class="iconbar"></div>
      <div class="iconbar"></div>
      <div class="iconbar"></div>
    </div>
  </div>
  <nav class="mainNav">
    <ul>
      <li>Open Projects</li>
      <li>Completed Projects</li>
      <li>Sign Up</li>
    </ul>
  </nav>
  {{outlet}}
</div>

<!-- <div class="pure-container" data-effect="pure-effect-slide">
  <input type="checkbox" id="pure-toggle-left" class="pure-toggle" data-toggle="left"> <label class="pure-toggle-label" for="pure-toggle-left" data-toggle-label="left">
    <span class="pure-toggle-icon"></span>
  </label>
  <div class="pure-drawer" data-position="left">
    Put your off canvas content here
  </div>
  <div class="pure-pusher-container">
    <div class="pure-pusher">
      {{outlet}}
    </div>
  </div>
  <label class="pure-overlay" for="pure-toggle-left" data-overlay="left"></label>
</div> -->
