<div class="pageWrapper">
  {{jquery-comp}}
  {{liquid-outlet}}
  <div class="footer">
    <div class="social-icons">
      <img src="/img/facebook.png" alt="facebook icon">
      <img src="/img/twitter.png" alt="twitter icon">
      <img src="/img/pinterest.png" alt="pinterest icon">
      <img src="/img/instagram.png" alt="instagram icon">
    </div>
    <p>&copy; 2016 pARTicipate</p>
    <p class="subtext">Nothing on this web site may be reproduced without prior permiission. All photographs and images artwork remain the property of the Participate Art collective.</p>
  </div>
</div>
