
{{outlet}}
<div class="container">
  <h1>pARTicipate</h1>

  {{#link-to 'about'}}About{{/link-to}}
  <br>
  {{new-project save="save"}}
  <div class="projectFeed">
    <ul>
      {{#each model as |project|}}
        {{project-tile project=project}}
      {{/each}}
    </ul>
  </div>
</div>
