<div class="homeHeader">
  <h1>pARTicipate</h1>
</div>
<div class="container">
  <br>
  {{new-project save="save"}}
  <div class="projectFeed">
    <ul>
      {{#each model as |project|}}
        {{project-tile project=project}}
      {{/each}}
    </ul>
  </div>
</div>
